@use 'sass:map';
@use 'sass:math';
@use 'sass:list';

$mediaSizes: (
  small: 0px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
);
$dimensions: 'none', 'small', 'medium', 'large', 'xlarge', 'xxlarge';
$fonts: 'xsmall', 'small', 'medium', 'large', 'xlarge', 'xxlarge';

:host {
  --d0: var(--grid-dim-none, 0px);
  --d1: var(--grid-dim-small, 4px);
  --d2: var(--grid-dim-medium, 8px);
  --d3: var(--grid-dim-large, 16px);
  --d4: var(--grid-dim-xlarge, 32px);
  --d5: var(--grid-dim-xxlarge, 64px);
  --f0: var(--grid-font-xsmall, 12px);
  --f1: var(--grid-font-small, 14px);
  --f2: var(--grid-font-medium, 16px);
  --f3: var(--grid-font-large, 24px);
  --f4: var(--grid-font-xlarge, 32px);
  --f5: var(--grid-font-xxlarge, 40px);
  display: block;
  box-sizing: border-box !important;
}

slot {
  display: contents !important;
}

.row {
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap);
  --gap: 0px;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  display: flex;
}

.cell {
  box-sizing: border-box;
}

:host([r-cell]) {
  flex: auto;
}

:host([r-c1]),
:host([r-c2]),
:host([r-c3]),
:host([r-c4]) {
  flex: 100%;
  max-width: calc(((var(--rc) / 12) * 100%) - var(--gap) * (calc((12 - var(--rc)) / 12)));
}

:host([r-sb1]),
:host([r-sb2]),
:host([r-sb3]),
:host([r-sb4]) {
  margin-left: calc(((var(--rsb) / 12) * 100%) + var(--gap) * (calc(var(--rsb) / 12)));
}

:host([r-sa1]),
:host([r-sa2]),
:host([r-sa3]),
:host([r-sa4]) {
  margin-right: calc(((var(--rsa) / 12) * 100%) + var(--gap) * (calc(var(--rsa) / 12)));
}

@each $mediaName, $mediaSize in $mediaSizes {
  $mIndex: list.index(map.keys($mediaSizes), $mediaName);

  @media (min-width:  #{$mediaSize}) {
    :host([r-ta#{$mIndex}]) {
      text-align: var(--text-align-#{$mediaName});
    }
    :host([r-d#{$mIndex}]) {
      display: var(--display-#{$mediaName});
    }

    @each $font in $fonts {
      $fIndex: list.index($fonts, $font);

      :host([r-f#{$mIndex}='#{$fIndex}']) {
        font-size: var(--f#{$fIndex});
      }
    }
    @each $dimension in $dimensions {
      $dIndex: list.index($dimensions, $dimension);

      .row.gap-#{$mediaName}-#{$dIndex} {
        --gap: var(--d#{$dIndex});
      }
      :host([r-p#{$mIndex}='#{$dIndex}']) {
        padding: var(--d#{$dIndex});
      }
      :host([r-pt#{$mIndex}='#{$dIndex}']) {
        padding-top: var(--d#{$dIndex});
      }
      :host([r-pl#{$mIndex}='#{$dIndex}']) {
        padding-left: var(--d#{$dIndex});
      }
      :host([r-pb#{$mIndex}='#{$dIndex}']) {
        padding-bottom: var(--d#{$dIndex});
      }
      :host([r-pr#{$mIndex}='#{$dIndex}']) {
        padding-right: var(--d#{$dIndex});
      }
      :host([r-m#{$mIndex}='#{$dIndex}']) {
        margin: var(--d#{$dIndex});
      }
      :host([r-mt#{$mIndex}='#{$dIndex}']) {
        margin-top: var(--d#{$dIndex});
      }
      :host([r-ml#{$mIndex}='#{$dIndex}']) {
        margin-left: var(--d#{$dIndex});
      }
      :host([r-mb#{$mIndex}='#{$dIndex}']) {
        margin-bottom: var(--d#{$dIndex});
      }
      :host([r-mr#{$mIndex}='#{$dIndex}']) {
        margin-right: var(--d#{$dIndex});
      }
    }

    @for $i from 12 through 1 {
      :host([r-or#{$mIndex}='#{$i}']) {
        order: #{$i};
      }
      :host([r-c#{$mIndex}='#{$i}']) {
        --rc: #{$i};
      }
    }
    @for $i from 11 through 0 {
      :host([r-sb#{$mIndex}='#{$i}']) {
        --rsb: #{$i};
      }
      :host([r-sa#{$mIndex}='#{$i}']) {
        --rsa: #{$i};
      }
    }
  }
}
